.modalWindowForm {
    background-color: rgba(47, 43, 36, 0.5);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalForm {
    width: 750px;
    padding: 50px 30px;
    background-color: var(--bg-color);
    border-radius: 5px;
}



.modalForm-title {
    text-align: center;
    width: 100%;
    margin-bottom: 25px;
}

.modalForm-title h3 {
    margin-bottom: 15px;
}

.modalForm-wrapper {
    width: 100%;
}

.formBtn {
    margin: 0 auto;
    background-color: var(--btn-color);
    transition: background-color 0.2s ease-in-out;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
}

.formBtn:hover {
    background-color: var(--highlights-color);
    border: none;
}

.btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background-color: transparent;
}